---
layout: default
title: About - 
---

<!-- .....................HEADER: Logo and nav center option................... -->
    

<!-- ............hero bannner..................... -->

<!-- <section class="hero-banner grid-center fixed tall100vh"> 
    <div class="col-8_sm-12-middle text-center">
        <h2> eco-conscious wearable <br> piece of art </h2>
    </div> 
</section> -->


<!-- .................gallery section.................. -->


<section class="grid padded padded-t-2">
    <div class="padded col-6_sm-12-middle">
        <h2 class="editable">
            Our story
        </h2>
        <p class="editable">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti recusandae commodi dolor vel, voluptas, quasi nulla repellendus, sit minus nihil odit. Adipisci fugiat vel voluptatibus doloremque nulla voluptates. Culpa, vitae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio iste eius unde, dolorem sed sit eligendi veritatis ab ea autem blanditiis atque in corporis asperiores impedit nobis voluptates fuga!
        </p>
        <p class="editable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequuntur recusandae qui magnam non officia. Commodi iusto nisi asperiores, nihil nemo illum facere incidunt reprehenderit at quidem, consequuntur quas officiis!
        </p>
    </div>
    <div class="col-6_sm-12-middle bg-img tall70vh bg-img2">
    </div>
</section>

<section class="grid padded padded-t-2 flex-flip-sm relative">

    <div class="sustainability" id="sustainability"> </div>

    <div class="col-6_sm-12 bg-img tall70vh bg-img3">
        
    </div>
    <div class="padded col-6_sm-12-middle">
        <h2 class="editable">
            Sustainability
        </h2>
        <p class="editable">
            Gaelle Garbani brand is a eco-conscious brand, or as I like to call it, a clothing brand with a conscious.<br />I couldn&rsquo;t in good conscience to create and produce a brand in fashion whilst turning a blind eye to what the social and environmental impacts the fashion industry is responsible for. Therefore, my passion for Nature and the desire to preserve it at best fuelled the creation of the Gaelle Garbani brand, hoping to make a little difference and act as a little manifestation for the future of fashion.
        </p>
        <p class="editable">
            But sustainability is a journey, and as a small fashion starter, we are doing our best to do our part with our current means. As much as I would like to claim Gaelle Garbani to be a sustainable brand, no brand can genuinely and truly be &ldquo;100% sustainable&rdquo; but it as business owner, it is our duty to act consciously and pick the battles that we can win with the means we have in our current power, until you grow stronger and more knowledgeable and can win more battles.
        </p>
    </div>
</section>


<!-- ...................newsletter............ -->

{% include newsletter.html %}

<!-- ...................instagram gallery........... -->

<!-- .........................footer.................. -->

<!-- cookie tracking -->
{% include cookie-banner.html %}

<!-- scripts -->
