---
layout: default
slick: true
title: Collection -
---

<!-- .....................HEADER: Logo and nav center option................... -->
 

<!-- <section class="hero-banner grid-center fixed tall100vh"> 
    <div class="col-8_sm-12-middle text-center">
      <h2> eco-conscious wearable <br> piece of art </h2>
    </div> 
  </section> -->


  <!--inro gallery test  -->
<section>

    <div>
    <h1 class="text-center padded-t-2 padded-b-1">collection</h1>
    </div>  
    <div class="about-intro padded text-center">
        <p class="editable">
            Featuring colourful island-inspired hand-drawn illustrations with soft tone palette, our <em>Jiwa Samudra</em> (Ocean Soul) seeker collection embodies femininity and soulfulness with a touch of luxe / sophistication and boho sensibility to appeal to the modern day romantic and free-spirited women.<br />The narrative of the endless tropical island adventures and oceanic treasures discoveries will sublimate the journeys of the passionate traveller woman who appreciates nature&rsquo;s beauty.
        </p>
    </div>

    <span class="palmtree-collection">
        <img class="logoimg" src="/LOGO/coconut_palm_clip_art_hight.svg" />
    </span>

</section>

<!-- ........Gallery section........... -->

<section class=" text-center padded padded-t-2 padded-b-3r">

    <!-- <h1 class="text-center">collection</h1>  
    <div class="about-intro padded text-center" style="margin: 5% 3% 0%;">
        <p>Portraying Mother Nature’s Beauty with hand-drawn illustrations and embodying femininity, our kimono collection is made of a sustainable super light and flowy fabric with a silky touch that will make the modern free spirited women feel snuggled with a soulfoul piece of art. 
        </p>
    </div> -->


    <div class="grid-middle paddedsmall sm-padded-t-2">
        <div class="col-6 paddedxsmall">
            <!-- <div class="card"> -->
                <div class="collection-image-1 portrait-small"> </div>
            <!-- </div>  -->
        </div>
        <div class="col-6 paddedxsmall">
            <!-- <div class="card"> -->
                <div class="collection-image-2 portrait-small"> </div>
            <!-- </div>  -->
        </div>
        <div class="col-3 paddedxsmall">
            <div class="card">
                <div class="collection-image-3 portrait-tall"> </div>
            </div> 
        </div>
        <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="collection-image-4 landscape-2"> </div>
            </div> 
        </div>
        <div class="col-3 paddedxsmall">
            <div class="card">
                <div class="collection-image-5 portrait-tall"> </div>
            </div> 
        </div>
        <div class="col-4 paddedxsmall">
            <div class="card">
                <div class="collection-image-6 customratio-1"> </div>
            </div> 
        </div>
        <div class="col-4 paddedxsmall">
            <div class="card">
                <div class="collection-image-7 customratio-1"> </div>
            </div> 
        </div>
        <div class="col-4 paddedxsmall">
            <div class="card">
                <div class="collection-image-8 customratio-1"> </div>
            </div> 
        </div>
        <div class="col-12 paddedxsmall">
            <div class="card">
                <div class="collection-image-9 landscape"> </div>
            </div> 
        </div> 
        <div class="col-3 paddedxsmall">
            <div class="card">
                <div class="collection-image-10 portrait-tall"> </div>
            </div> 
        </div>
        <div class="col-3 paddedxsmall">
            <div class="card">
                <div class="collection-image-11 portrait-tall"> </div>
            </div> 
        </div>
        <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="collection-image-12 landscape-2"> </div>
            </div> 
        </div>
        <div class="col-8 paddedxsmall">
            <div class="card">
                <div class="collection-image-13 landscape"> </div>
            </div> 
        </div>
        <div class="col-4 paddedxsmall">
            <div class="card">
                <div class="collection-image-14 customratio-1"> </div>
            </div> 
        </div>
        <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="collection-image-15 portrait-tall"> </div>
            </div> 
        </div>
        <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="collection-image-16 portrait-tall"> </div>
            </div> 
        </div> 
        <div class="col-12 paddedxsmall">
            <div class="card">
                <div class="collection-image-17 landscape"> </div>
            </div> 
        </div> 
        <div class="col-4 paddedxsmall">
            <div class="card">
                <div class="collection-image-18 customratio-1"> </div>
            </div> 
        </div>
        <div class="col-4 paddedxsmall">
            <div class="card">
                <div class="collection-image-19 customratio-1"> </div>
            </div> 
        </div>
        <div class="col-4 paddedxsmall">
            <div class="card">
                <div class="collection-image-20 customratio-1"> </div>
            </div> 
        </div>
        <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="collection-image-21 landscape-2"> </div>
            </div> 
        </div>
        <div class="col-3 paddedxsmall">
            <div class="card">
                <div class="collection-image-22 portrait-tall"> </div>
            </div> 
        </div>
        <div class="col-3 paddedxsmall">
            <div class="card">
                <div class="collection-image-23 portrait-tall"> </div>
            </div> 
        </div>
        <div class="col-4 paddedxsmall">
            <div class="card">
                <div class="collection-image-24 customratio-1"> </div>
            </div> 
        </div>
        <div class="col-8 paddedxsmall">
            <div class="card">
                <div class="collection-image-25 landscape"> </div>
            </div> 
        </div>
        <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="collection-image-26 portrait-tall"> </div>
            </div> 
        </div>
        <!-- <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="collection-image-27 landscape-2"> </div>
            </div> 
        </div> -->
        <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="collection-image-28 portrait-tall"> </div>
            </div> 
        </div>

    </div>

</section>


<!-- ...................slick slider gallery............ -->

{% include shopslider.html %}

<!-- ...................newsletter............ -->

{% include newsletter.html %}

<!-- ...................instagram gallery........... -->

<!-- .........................footer.................. -->

<!-- cookie tracking -->
{% include cookie-banner.html %}

<!-- scripts -->
