---
layout: default
slick: true
title: Collection -
---

<!-- .....................HEADER: Logo and nav center option................... -->
 

<!-- <section class="hero-banner grid-center fixed tall100vh"> 
    <div class="col-8_sm-12-middle text-center">
      <h2> eco-conscious wearable <br> piece of art </h2>
    </div> 
  </section> -->


  <!--inro gallery test  -->
<section>

    <div>
    <h1 class="text-center padded-t-2 padded-b-1">collection</h1>
    </div>  
    <div class="about-intro padded text-center">
        <p>Portraying Mother Nature’s Beauty with hand-drawn illustrations and embodying femininity, our kimono collection is made of a sustainable super light and flowy fabric with a silky touch that will make the modern free spirited women feel snuggled with a soulfoul piece of art. 
            <br> Portraying Mother Nature’s Beauty with hand-drawn illustrations and embodying femininity, our kimono collection is made of a sustainable super light and flowy fabric with a silky touch that will make the modern free spirited women feel snuggled with a soulfoul piece of art
        </p>
    </div>

    <span class="palmtree-collection">
        <img class="logoimg" src="/LOGO/coconut_palm_clip_art_hight.svg">
    </span>

</section>

<!-- ........Gallery section........... -->

<section class=" text-center padded padded-t-2">

    <!-- <h1 class="text-center">collection</h1>  
    <div class="about-intro padded text-center" style="margin: 5% 3% 0%;">
        <p>Portraying Mother Nature’s Beauty with hand-drawn illustrations and embodying femininity, our kimono collection is made of a sustainable super light and flowy fabric with a silky touch that will make the modern free spirited women feel snuggled with a soulfoul piece of art. 
        </p>
    </div> -->

    <div class="grid-middle paddedsmall sm-padded-t-2">
        <div class="col-6 paddedxsmall">
            <!-- <div class="card"> -->
                <div class="bg-sarong1 portrait-small"> </div>
            <!-- </div>  -->
        </div>
        <div class="col-6 paddedxsmall">
            <!-- <div class="card"> -->
                <div class="bg-sarong1 portrait-small"> </div>
            <!-- </div>  -->
        </div>
        <div class="col-12 paddedxsmall">
            <div class="card">
                <div class="bg-sarong1 landscape"> </div>
            </div> 
        </div> 
        <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="bg-sarong1 portrait-small"> </div>
            </div> 
        </div>
        <div class="col-6 paddedxsmall">
            <div class="card">
                <div class="bg-sarong1 portrait-small"> </div>
            </div> 
        </div> 
        <div class="col-4 paddedxsmall">
            <div class="card">
                <div class="bg-sarong1 customratio-1"> </div>
            </div> 
        </div>
        <div class="col-8 paddedxsmall">
            <div class="card">
                <div class="bg-sarong1 landscape"> </div>
            </div> 
        </div>
    </div>

</section>


<!-- ...................slick slider gallery............ -->

{% include shopslider.html %}

<!-- ...................newsletter............ -->

{% include newsletter.html %}

<!-- ...................instagram gallery........... -->

<!-- .........................footer.................. -->

<!-- cookie tracking -->
{% include cookie-banner.html %}

<!-- scripts -->

