---
layout: default
slick: true
title: Sarongs -
products-sarongs:
  - heading: Menjagan Sarong
    price: $80
    product_image: /images/sarong-menjangan-beach-1.jpg
    product-item: /sarong.html#sarong1
  - heading: Suluban Sarong
    price: $80
    product_image: /images/sarong-suluban-villa-3.jpg
    product-item: /sarong-2.html#sarong1
  - heading: Lembongan Sarong
    price: $80
    product_image: /images/sarong-lembongan-beach-2.jpg
    product-item: /sarong-3.html#sarong1
  - heading: Melasti Turquoise Sarong
    price: $80
    product_image: /images/sarong-melasti-turquoise-beach-1.jpg
    product-item: /sarong-4.html#sarong1
  - heading: Melasti Sunrise Sarong
    price: $80
    product_image: /images/sarong-melasti-orange-villa-1.jpg
    product-item: /sarong-5.html#sarong1
  - heading: Uluwatu Sarong
    price: $80
    product_image: /images/sarong-uluwatu-resort-2.jpg
    product-item: /sarong-6.html#sarong1
---

<!-- ....................header: Logo and nav center option................... -->
     



<!-- ..................gallery shop sarong section........... -->

<!-- <section class="relative text-center padded-5-3-0"> -->
<section class="relative text-center paddedsmall padded-b-0 padded-t-1">
    <div class="shop-sarongs" id="sarongs"> </div>
    <h1 class="text-center paddedsmall padded-b-3">Sarongs</h1>
</section>

<!--sarong bannner & intro description -->
<section class="bg-bannerimg-sarong grid-center fixed tall70vh hide-xs"> 
  <div class="col-8_sm-12-middle text-center relative">
  </div> 
</section>

<div class="grid show-xs">
  <div class="col-12-middle bannerzeropadding">
    <div class="bg-bannerimg-sarong grid-center-middle tall70vh"></div>
  </div>    
</div>

<section class="about-intro padded text-center margin-b-2">
  <!-- <p>Made of a light fabric with a silky soft touch, our sarong has hand-drawn prints and is a real decorative textile. As a wall tapestry, tablecloth or even a bedspread, our pareo brings a boho decoration. This versatile piece made in Bali is the essential beach accessory for trip lovers. On a summer day, we could wear it as a beach dress sarong or a large scarf. 
  </p> -->
  <p class="editable">
      Our sarongs collection is made of a sustainable super light and flowy fabric with a silky touch, evoking dreamy visions of tropical island beauty with its ocean inspired hand-drawn illustrations. 
      <br> This versatile wearable piece of art is the perfect travel companion for days chilling by the pool or at the beach appealing to the modern-day romantic and free-spirited women.<br />Our sarongs can be styled as skirt, cute little beach resort dress, or why not dressing it up as a cape scarf or simply appreciating it as a home decorative piece evoking tropical wanderlust with a boho twist.
  </p>
</section>



<!-- ..............cards section.................. -->


<section class="text-center paddedsmall relative">

  <div class="moresarongs" id="moresarongs"> </div>

<div class="grid-center padded-t-2">

{% for item in page.products-sarongs %}
    <div class="paddedsmall col-4_sm-6">
      <div class="card image-wrap">
        <a class="lightgreyhover" href="{{item.product-item}}">
          <div class="image-wrap">
            <div class="portrait bg-img" style="background-image: url('{{item.product_image}}')"> </div>
          </div>
          <div class="padded-1">
            <h4>{{item.heading}}</h4> 
            <p>{{item.price}}</p>  
          </div> 
        </a>
      </div> 
    </div>
  {% endfor %}
    
</div>
</section>

<section class="paddedlarge grid-center padded-t-2">

  <h4 class="col-12 text-center font-weight-300 text-big howtostylefontxs californiafont-light margin-b-2"> How to style your Sarongs</h4>

<div class="col-12 grid paddedsmall relative howtostylepadding">
    <div class="col-3">
      <h3 class="vertical-text-1 howtostylefont"> 1. The Skirts</h3>
    </div>
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-1 portrait-tall"> </div>
      </div> 
    </div>
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-2 portrait-tall"> </div>
      </div> 
    </div>
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-3 portrait-tall"> </div>
      </div> 
    </div>
</div> 
  
<div class="col-12 grid paddedsmall relative howtostylepadding">
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-4 portrait-tall"> </div>
      </div> 
    </div>
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-5 portrait-tall"> </div>
      </div> 
    </div>
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-6 portrait-tall"> </div>
      </div> 
    </div>
    <div class="col-3">
      <h3 class="vertical-text-2 howtostylefont"> 2. The dresses</h3>
    </div>
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-7 portrait"> </div>
      </div> 
    </div>
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-8 portrait"> </div>
      </div> 
    </div>
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-9 portrait"> </div>
      </div> 
    </div>
    <div class="col-3 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-10 portrait"> </div>
      </div> 
    </div>
  </div> 

  <div class="col-12 grid paddedsmall relative howtostylepadding">
    <div class="col-4">
      <h3 class="vertical-text-3 howtostylefont"> 3. bandeau & turban</h3>
    </div>
    <div class="col-4 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-11 portrait-tall"> </div>
      </div> 
    </div>
    <div class="col-4 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-12 portrait-tall"> </div>
      </div> 
    </div>
  </div>

  <div class="col-12 grid paddedsmall relative howtostylepadding">
    <div class="col-4 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-13 portrait-tall"> </div>
      </div> 
    </div>
    <div class="col-4 paddedxsmall">
      <div class="card">
          <div class="howtostylesarongs-image-14 portrait-tall"> </div>
      </div> 
    </div>
    <div class="col-4">
      <h3 class="vertical-text-4 howtostylefont"> 4. Cape & kimono</h3>
    </div>
  </div>

</section>

<!-- ...................newsletter............ -->

{% include newsletter.html %}

<!-- ...................instagram gallery........... -->

<!-- .......................footer.................. -->

<!-- cookie tracking -->
{% include cookie-banner.html %}

<!-- scripts-->
