---
layout: default
slick: false
title: Kimonos - 
products-kimonos:
 - heading: Karang Kimono
   price: $195
   product_image: /images/kimono-karang-side-resort.jpg
   product-item: /kimono-1.html
 - heading: Bilaboa Kimono
   price: $195
   product_image: /images/kimono-ombak-front-villa.jpg
   product-item: /kimono-2.html
 - heading: Karang Kimono
   price: $195
   product_image: /images/kimono-pantaimerah-front-villa.jpg
   product-item: /kimono-1.html
seo:
   title:
   description:
   social_image:
   twitter_card:
   keywords:
   hide-from-google: true
---

<!-- ....................header: Logo and nav center option................... -->
     

<!-- ..................gallery shop kimonons section........... -->

<section class="relative text-center paddedsmall padded-b-0 padded-t-1">
    <div class="shop-kimonos" id="kimonos"> </div>
    <h1 class="text-center paddedsmall padded-b-3">Kimonos</h1>
</section>


<!--Kimonos bannner & intro description -->
<section class="bg-bannerimg-kimono grid-center fixed tall70vh hide-xs"> 
  <!-- <div class="col-8_sm-12-middle text-center relative"></div>  -->
</section>


<div class="grid show-xs">
  <div class="col-12-middle bannerzeropadding">
    <div class="bg-bannerimg-kimono grid-center-middle tall70vh"> 
    </div>
  </div>    
</div>

<section class="about-intro padded text-center margin-b-2">
  <p class="editable">Portraying Mother Nature’s Beauty with hand-drawn illustrations and embodying femininity, our kimono collection is made of a sustainable super light and flowy fabric with a silky touch that will make the modern free spirited women feel snuggled with a soulfoul piece of art. 
    <br>Effortlessly flowing with the breeze and evoking dreamy visions of tropical island beauty with a boho chic sensibility, our elegant kimonos will appeal to the romantic and modern-day bohemian woman.
    <br> This versatile wearable piece of art is the perfect travel companion for days chilling by the pool or at the beach and will be a key piece to have in your day to day, holiday and travel wardrobe.
  </p>

</section>

<!-- ..............cards section.................. -->

<section class="text-center paddedsmall relative">

  <div class="morekimonos" id="morekimonos"> </div>

  <div class="grid-center padded-t-2">
  
  {% for item in page.products-kimonos %}
      <div class="paddedsmall col-4_sm-6">
        <div class="card">
          <a class="lightgreyhover" href="{{item.product-item}}">
            <div class="image-wrap">
              <div class="portrait bg-img" style="background-image: url('{{item.product_image}}')"> </div>
            </div>
            <div class="padded-1">
              <h4>{{item.heading}}</h4> 
              <p>{{item.price}}</p>  
            </div> 
          </a>
        </div> 
      </div>
    {% endfor %}
  </div>
  
  </section>

<!-- ...................newsletter............ -->

{% include newsletter.html %}

<!-- ...................instagram gallery........... -->

<!-- .......................footer.................. -->

<!-- cookie tracking -->
{% include cookie-banner.html %}

<!-- scripts-->




