---
layout: default
slick: false
products-kimonos:
 - heading: Karang Kimono
   price: €170
   product_image: /images/kimono-karang-pool-front.jpg
   product-item: /kimono-1.html
 - heading: Bilaboa Kimono
   price: €170
   product_image: /images/kimono-biloba-pool-back1.jpg
   product-item: /kimono-2.html
---

<!-- ....................header: Logo and nav center option................... -->
     

<!-- ..................gallery shop kimonons section........... -->

<section class="relative text-center paddedsmall padded-b-0 padded-t-1">
    <div class="shop-kimonos" id="kimonos"> </div>
    <h1 class="text-center paddedsmall padded-b-3">Kimonos</h1>
</section>


<!--Kimonos bannner & intro description -->
<section class="bg-bannerimg-kimono grid-center fixed tall70vh"> 
  <div class="col-8_sm-12-middle text-center relative">
  </div> 
</section>
<section class="about-intro padded text-center">
  <p>Portraying Mother Nature’s Beauty with hand-drawn illustrations and embodying femininity, our kimono collection is made of a sustainable super light and flowy fabric with a silky touch that will make the modern free spirited women feel snuggled with a soulfoul piece of art. 
  </p>
</section>

<!-- ..............cards section.................. -->

<section class="relative text-center padded">
<div class="grid-center">

{% for item in page.products-kimonos %}
    <div class="col-5 paddedsmall">
      <div class="card">
        <a class="lightgreyhover" href="{{item.product-item}}">
          <div class="portrait bg-img" style="background-image: url('{{item.product_image}}')"> </div>
          <div class="padded-1">
            <h4>{{item.heading}}</h4> 
            <p>{{item.price}}</p>  
          </div> 
        </a>
      </div> 
    </div>
  {% endfor %}
</div>

</section>

<section class="text-center paddedsmall">
  <div class="grid-center padded-t-2">
  
  {% for item in page.products-kimonos %}
      <div class="col-4_sm-6">
        <div class="card">
          <a class="lightgreyhover" href="{{item.product-item}}">
            <div class="portrait bg-img" style="background-image: url('{{item.product_image}}')"> </div>
            <div class="padded-1">
              <h4>{{item.heading}}</h4> 
              <p>{{item.price}}</p>  
            </div> 
          </a>
        </div> 
      </div>
    {% endfor %}
  </div>
  
  </section>


<!-- ...................newsletter............ -->

{% include newsletter.html %}

<!-- ...................instagram gallery........... -->

<!-- .......................footer.................. -->

<!-- scripts-->




