---
layout: default
slick: true
---

<!-- .....................HEADER: Logo and nav center option................... -->
 
<!-- <section class="grid text-center padded">
    <h2> shop our collection</h2>
    <div class="col-6 shopsarongimg padded">
        <a class="sliderbutton" href="/shopsarongs.html#sarongs">Shop Sarongs</a>
    </div>

    <div class="col-6 shopkimonoimg padded">
        <a class="sliderbutton" href="/shopkimonos.html#kimonos">Shop Kimonos</a>
    </div>  
</section> -->

<section class="relative text-center padded">

    <h2> shop our collection</h2>
    <div class="grid-center">
        <div class="col-6-middle">
            <a class="lightgreyhover" href="/kimono-1.html">
              <div class="portrait bg-img shopsarongimg" > 
              <a class="shopcollectionbutton" href="/shopsarongs.html#sarongs">Shop Sarongs</a>
              </div>
            </a>
        </div> 
        <div class="col-6">
            <a class="lightgreyhover" href="/kimono-1.html">
              <div class="portrait bg-img shopsarongimg" > </div>
              <a class="shopcollectionbutton" href="/shopsarongs.html#sarongs">Shop Sarongs</a>
            </a>
        </div> 
        
    </div>
    
    </section>

<!-- ...................slick slider gallery............ -->

{% include shopslider.html %}

<!-- ...................newsletter............ -->

{% include newsletter.html %}

<!-- ...................instagram gallery........... -->

<!-- .........................footer.................. -->

<!-- scripts -->

