---
layout: default
slick: false
products-sarongs:
 - heading: Menjagan Sarong
   price: €60
   product_image: /images/sarong-beach.jpg
   product-item: /sarong.html#sarong1
 - heading: Melasti Sarong
   price: €60
   product_image: /images/sarong-beach.jpg
   product-item: /sarong.html#sarong1
 - heading: Uluwatu Sarong
   price: €60
   product_image: /images/sarong-beach.jpg
   product-item: /sarong.html#sarong1
 - heading: Lembongan Sarong
   price: €60
   product_image: /images/sarong-beach.jpg
   product-item: /sarong.html#sarong1
 - heading: Menjagan Sarong
   price: €60
   product_image: /images/sarong-beach.jpg
   product-item: /sarong.html#sarong1
 - heading: Menjagan Sarong
   price: €60
   product_image: /images/sarong-beach.jpg
   product-item: /sarong.html#sarong1
products-kimonos:
 - heading: Karang Kimono
   price: €170
   product_image: /images/sarong-beach.jpg
   product-item: /kimono-1.html
 - heading: Bilaboa Kimono
   price: €170
   product_image: /images/sarong-beach.jpg
   product-item: //kimono-1.html
---

<!-- ....................header: Logo and nav center option................... -->
     

<!-- ...................slick slider gallery............ -->

<!-- {% include shopslider.html %} -->

<!-- ..................gallery shop sarong section........... -->

<section class="relative text-center padded-5-3-0">

    <div class="shop-sarongs" id="sarongs"> </div>
    <h1 class="text-center paddedsmall padded-b-3">Sarongs</h1>
  
<!-- ..............cards section.................. -->
<div class="grid-center">

{% for item in page.products-sarongs %}
    <div class="col-4_sm-6">
      <div class="card">
        <a class="lightgreyhover" href="{{item.product-item}}">
          <div class="portrait bg-img" style="background-image: url('{{item.product_image}}')"> </div>
          <div class="padded-1">
            <h4>{{item.heading}}</h4> 
            <p>{{item.price}}</p>  
          </div> 
        </a>
      </div> 
    </div>
  {% endfor %}
    
</div>

</section>

<!-- ..................gallery shop kimonons section........... -->

<section class="relative text-center padded">

    <div class="shop-kimonos" id="kimonos"> </div>
    <h1 class="text-center paddedsmall padded-b-3">Kimonos</h1>
 
<!-- ..............cards section.................. -->
<div class="grid-center">

{% for item in page.products-kimonos %}
    <div class="col-5">
      <div class="card">
        <a class="lightgreyhover" href="{{item.product-item}}">
          <div class="portrait bg-img" style="background-image: url('{{item.product_image}}')"> </div>
          <div class="padded-1">
            <h4>{{item.heading}}</h4> 
            <p>{{item.price}}</p>  
          </div> 
        </a>
      </div> 
    </div>
  {% endfor %}
</div>

</section>

<!-- ...................newsletter............ -->

{% include newsletter.html %}

<!-- ...................instagram gallery........... -->

<!-- .......................footer.................. -->

<!-- scripts-->




