
/* colors: 
    - grey: #6C7A89 main: #395261 /rgb(57,82,97)
    - turquoise: #00afb9 - 72d4d4 
    - light peach #fff7f3
    - beige - F8F6F4
    - pink - FFA995
    color inspo: 
    - mule #c3b9b9
    - darker mule #c3baba
    - darker / greyish mule #7b7575*/
    
    


/* PHOTOS:
A3QXXEfcA1U
*/

/* included fonts */

@font-face {
    font-family: CaliforniaPalms;
    src: url(/fonts/CaliforniaPalms_SerifRegular.otf);
    font-weight: light;
  }
  @font-face {
    font-family: CaliforniaPalms;
    src: url(/fonts/CaliforniaPalms_Script.otf);
    font-weight: normal;
  }


/* ........... universal styles default settings........ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ...........temporary styles so can see structural build */

/* *{
    padding: 0.5rem;
    border: 1px solid rgb(222,222,222);
} */
/* 
section {
    border: 1px solid rgb(222,222,222); 
}*/

/* ........... universal styles ........ */

[class*=grid-], [class*=grid_], [class~=grid] {
    margin: 0;
}


html {
    border: none;
}


img {
    max-width: 100%;
}

/* ............................. utility class..................... */

/* PADDING ULITLITY CLASSES */

.paddedxsmall    { padding: 1%;}
.paddedsmall    { padding: 2%;}
.padded         { padding: 5%;}
.paddedlarge    { padding: 10%;}

.padded-03 { padding: 0.3rem; }
.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-bottom: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-bottom: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-bottom: 2rem; }

.padded-t-3 {padding-top: 3%;}
.padded-b-3 {padding-bottom: 3%;}
.padded-5-3-0 {
    padding-left: 5%; 
    padding-right: 5%; 
    padding-top: 3%;
    padding-bottom: 0;
}

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* .insta-padding [class*=col-], [class*=col_], [class~=col] {
    padding: 0 0.1rem 1rem;
} */

.insta-padding {
    padding: 0 0.1rem 0.1rem;
}

.bannersliderpadding {
    padding: 0;
}

/* MARGIN ULITLITY CLASSES */

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-05 { margin-top: 0.5rem; }
.margin-b-05 { margin-bottom: 0.5rem; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }


/* MIN HEIGHT ClASSES */

.tall100vh      {min-height: 100vh;}
.tall80vh       {min-height: 80vh;}
.tall70vh       {min-height: 70vh;}
.tall60vh       {min-height: 60vh;}
.tall50vh       {min-height: 50vh;}
.tall40vh       {min-height: 40vh;}

/* POSITIONS */

.header-fix { padding-top: 7rem;}

.absolute { position:absolute;}
.relative { position:relative;}

.shop-sarongs {
    position:absolute; 
    top: -115px;
}
.shop-kimonos {
    position:absolute; 
    top: -115px;
}

/* .sarong-1 {
    position:absolute; 
    top: -17%;
} */


.sticky{
    position:sticky;
    top:0;
    }

/* ..................BACKGROUND COLOR AND IMAGES CLASSES................ */

.bg-dark {
    background-color: #395261;
    color: white;
}

.bg-turquoise {
    background-color: #00afb9;
}

.bg-light {
    background-color: #fff7f3;
}


.landscape      { padding-bottom: 66%;  }
.portrait-tall  { padding-bottom: 175%; }
.portrait       { padding-bottom: 125%; }
.portrait-small { padding-bottom: 110%; }
.square         { padding-bottom: 100%; }
.customratio-1 {padding-bottom: 124%; padding-top: 13%;}


/*  ....background images style..... */

.bg-img {
    background-color: #fff7f3;
    background-image: url('/images/sarong-menjangan-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 10rem; */
    /* QUESTION: Why this overwrite the tall class when applying the col-middle as per in the video? 
    and why when trying the square option the responsive class does work when bg image applied to parent container, but work only if bg image is separate and inside..... not sure what that means?*/
}


.bg-sarong1 {
    background-color: #fff7f3;
    background-image: url('/images/sarong-beach.jpg');
    background-position: center;
    background-size: cover;
}


.shopsarongimg {
    background-color: #fff7f3;
    background-image: url('/images/sarong-lembongan-1.jpg');
    background-size: cover;
    background-position: center;
}

.shopkimonoimg {
    background-color: #fff7f3;
    background-image: url('/images/kimono-karang-pool-back.jpg');
    background-size: cover;
    background-position: 50% 95%;
}



.bg-bannerimg-sarong {
    background-color: #fff7f3;
    background-image: url('/images/sarong-menjangan-1.jpg');
    background-size: cover;
    background-position: 65% 0%;
    background-repeat: no-repeat;
}

.bg-bannerimg-kimono {
    background-color: #fff7f3;
    background-image: url('/images/kimono-karang-butterfly.jpg');
    background-size: cover;
    background-position: 50% 65%;
}

.bg-img0 {
    background-color: #fff7f3;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

.bg-img1 {
    /* background-image: url('https://source.unsplash.com/NbPJ8HM-w8c'); */
    background-image: url('/images/melasti-sarong-sunset1.jpg');
    background-color: #fff7f3;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
 
.bg-img2 {
    background-color: #fff7f3;
    background-image: url('/images/sunset-yoga.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.bg-img3 {
    background-color: #fff7f3;
    background-image: url('/images/bali-ricefields.jpg');
    background-size: cover;
    background-position: center;
}

  
.bg-img4 {
    background-color: #fff7f3;
    background-image: url('https://source.unsplash.com/CTivHyiTbFw');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-sarong1 {
    background-image: url('/images/sarong-menjangan-1.jpg');
    background-color: lightblue;
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-sarong2 {
    background-color: #fff7f3;
    background-image: url('/images/sarong-lembongan-1.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-sarong3 {
    background-color: #fff7f3;
    background-image: url('/images/sarong-melasti-sunset2.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-sarong4 {
    background-color: #fff7f3;
    background-image: url('/images/sarong-melasti-sunset3.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-sarong5 {
    background-color: #fff7f3;
    background-image: url('/images/sarong-melasti-orange.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-sarong6 {
    background-color: #fff7f3;
    background-image: url('/images/sarong-uluwatu-purple.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .bg-imgprod-kimono1 {
    background-color: #fff7f3;
    background-image: url('/images/kimono-karang-butterfly.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-kimono2 {
    background-color: #fff7f3;
    background-image: url('/images/kimono-karang-front.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-kimono3 {
    background-color: #fff7f3;
    background-image: url('/images/kimono-karang-back1.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-kimono4 {
    background-color: #fff7f3;
    background-image: url('/images/kimono-karang-back2.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-kimono5 {
    background-color: #fff7f3;
    background-image: url('/images/kimono-karang-pool-back.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-imgprod-kimono6 {
    background-color: #fff7f3;
    background-image: url('/images/kimono-karang-pool-front.jpg');
    background-size: cover;
    background-position: center;
  }


  .bg-imgprod-kimono7 {
    background-color: #fff7f3;
    background-image: url('/images/kimono-biloba-pool-back1.jpg');
    background-size: cover;
    background-position: 50% 90%;
  }

  .bg-imgprod-kimono8 {
    background-color: #fff7f3;
    background-image: url('/images/kimono-bilabo-pool-back2.jpg');
    background-size: cover;
    background-position: center;
  }

.hidden-image:hover{ opacity:0 }

.hoverimage[class*="col-"] {
    padding: 0;
  }

/* images for instagram gallery style */

.bg-image {
    background-color: #fff7f3;
    background-size: cover;
    background-position: center;
  }
  
.insta-gallery .bg-image {
    border: 2px solid white;
  }




/* ...................TYPOGRAPHY UTILITY CLASSES..................... */

body {
    border: none;
    font-family: "Lato", sans-serif;
    color: #395261;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.1rem;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 300;
    }

h3 {font-size: 1.6rem;}

h4 {font-size: 1.3rem;}

p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
}

li {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    padding-left: 0;
}

ul {padding-left: 1.7rem;}

/* NOTE: this selection allows to target only last child of a parent container */
p:last-child {
	margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    /* border-bottom: 1px solid; */
}

a:hover{
    color: #00afb9;
}

.lightgreyhover:hover{
    color: inherit;
    opacity: .75;
}

.text-left      { text-align: left ;}
.text-center    { text-align: center ;}
.text-right     { text-align: right ;}


.featuredcolor-text {color: #00afb9;}
.featureddark-text  {color: #395261}
.whitecolor-text    {color: white;}

.font-weight-normal {font-weight: normal;}
.font-weight-300 {font-weight: 300;}
.font-weight-light  {font-weight: 200;}
.font-weight-xbold  {font-weight: 800;}

.text-small   {font-size: 1.5rem;}
.text-medium  {
               font-size: 2rem;
               line-height: 1.1;
              }
.text-big     {font-size: 4.5rem;}

.caps         { text-transform: uppercase;}

.subtle { 
    opacity: 0.8;
    font-size: 0.9rem;
    font-style: italic;
}

/* Typography more specific elements */

.quote-icon {
    font-size: 6rem;
    display: block; 
    /* note: span are inline elements so better to set it as inline-block for easier alignment */
    color: rgb (120,125,128);
    /* the below is to adjust the alignment */
    line-height: 1;

}
.subtitle {
    font-size: 1.2rem;
    color: rgb (120,125,128);
}

.californiafont-light {
    font-family: CaliforniaPalms;
    font-weight: light;
  }



/* ..........................HEADER styles........................ */

header {
    padding: 1.5vh 5%;
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;

}

/* selecting anything with a class of col indside our header */
header [class*=col] {
    padding: 0;
  }


.logo {
    font-weight: 300;
    letter-spacing: 0.3rem;
    margin-bottom: 1.2rem;
    margin-top: 0.5rem;
    padding-bottom: 0;
    max-width: 300px;
    display: block;
    margin: auto;
}
/* .logoleft {padding: 1rem 0;} */

header nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 14px;
    border: none;
    color: inherit;
    display: inline-block;
    padding: 0.5rem;
    margin-bottom:0;
}

header .fas {
    font-size: 1.2rem;
    margin-bottom:0;
}



.cartright {
    position: absolute;
    right: 0.5rem;
    top: 1.2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .fas {
    display: inline-block;
    color:rgba(57,82,97,0.5);
    font-size: 0.8rem;
    rotate: -90deg;
    transition: rotate 0.5s;
}

.dropdown-title {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 14px;
    border: none;
    color: inherit;
    display: inline-block;
    padding: 0.5rem;
    padding-right: 0.3rem;
    margin-bottom:0;
} 

.dropdown-content {
    position: absolute;
    top: 98%;
    left: -0.1rem;
    display: none;
    background-color: white;
    z-index: 2;
    text-align: left;
    min-width: 6rem;
    padding-top: 0.5vw;
    /* border-top: 2.5px solid rgba(57,82,97,0.5); */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .fas { 
    color: #00afb9;
    rotate: 0deg;
}

.dropdown-content a {
    display: block;
    text-transform: capitalize;
}

/* line under dropdown nav */
header hr {
    border: none;
    border-top: 2px solid rgba(57,82,97,0.5);
}


/* ....................Hamburger / Mobile menu stylings............. */

.hamburger-button {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5rem;
    font-weight: 200;
    font-size: 6.2vw;
    line-height: 0.7;
    /* margin-top: -0.7rem; */
    position: fixed;
    right: 1rem;
    top: 2.5rem;
    z-index: 2;
  }

  .hamburger-button-left {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5rem;
    font-weight: 200;
    font-size: 6.2vw;
    line-height: 0.7;
    /* margin-top: -0.7rem; */
    position: fixed;
    left: 1rem;
    top: 2.5rem;
    z-index: 2;
  }
/*   
  .hamburger-button.active {
    color: #00afb9;
  } */

  .hamburger-button-left.active {
    color: #00afb9;
  }
  
  .mobile-menu {
    background-color: #00afb9;
    color: white;
    text-transform: uppercase;
    padding: 2% 5%;
    display: none;
    position: fixed;
    right: 0rem;
    left: 0rem;
    top: 9vw;
    z-index: 2;
    width: 60%;
    height: 100% 
  }
  
  .mobile-menu a {
    padding: 4.5vh 5%;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    display: block;
  }

  .mobile-menu span .fas {
    margin-bottom:0;
  }

  .hb-menu-dropdown .fas {
      margin-bottom:0;
  }

/* hamburger-mobile menu dropdown/accordion */

.hb-menu-dropdown .fas {
    display: inline-block;
    color:white;
    font-size: 1.3rem;
    rotate: -90deg;
    transition: rotate 0.5s;
    padding: 0.5rem;
    padding-top: 0.4rem;
    margin: 0;
}

.hb-menu-dropdown:hover .fas { 
    color: white;
    rotate: 0deg;
    opacity: 0.5;
}



.mobile-menu span {
    padding: 4.5vh 5%;
    display: inline-block;
}

.mob-menu-prod-links a {
    padding: 3vh 15%;
    opacity: 0.7;
    margin-top: -1vh 0;
    margin-bottom: -1.5vh;
}

/* .mob-menu-prod-links {
    margin-top: -1vh 0;
    margin-bottom: -1vh;
} */

.mob-menu-prod-links a:hover {
    opacity: 1;
}

.mob-menu-prod-links a:first-child {
    padding-top: 0;
} 

.mob-menu-prod-links a:last-child {
    padding-bottom: 10%;
} 

.palmtree {
    min-height: 100%;
    max-width: 30px;
    display: block;
    margin: auto; 
}

.mobile-menu .palmtree {
    max-width: 65px;
    padding-top: 80%;
  }


/* ..........................footer styles.................. */

footer {
    background-color: #fff7f3;
}

footer nav a {
    border: none;
    display:block;
    padding: 0.25rem;
    font-size: 0.9rem;
  }

footer h3 {
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
  }

footer .fab {
      font-size: 1.1rem;
  }

footer .californiafont-light {
    letter-spacing: 0.1rem;
}  

/*  .......footer social..... */

.inline a {
    display:inline-block;
    padding: 0.5rem;
  }
  


/* ..............hero banner styling.......... */


.hero-banner {
    background-color: #77ACA2;
    /* background-image: url('https://source.unsplash.com/NbPJ8HM-w8c'); */
    background-image: url('/images/sarong-melasti-sunset1.jpg');
    color: white;
    background-size: cover;
    background-position: 50% 38%;
  }
  

.fixed {
    background-attachment: fixed;
  }

.bg-overlay {
    position: relative;
}

.bg-overlay::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
}

.hero-banner h2 {
    color: white;
    font-weight: 300;
    /* font-size: 4rem; */
} 

/* testing banner for mobile */

.hero-banner-mobile {
    padding: 0;
}

/* ..............about introduction....... */

.about-intro {
    background-color: #fff7f3;
    color: inherit;
    min-height: 30vh;
}

.about-intro p {
    letter-spacing: 0.2;
    line-height: 1.8;
    font-size: 1.3rem;
    /* text-transform: uppercase; */
}


.about-intro p.californiafont-light {
    font-size: 3.5rem;
    line-height: 0.8;
}

.typed-cursor {
    display: none;
  }

  .palmtree-absolute {
      position: absolute;
      right:50%;
      z-index: 10;
      min-height: 100%;
      max-width: 80px;
      display: block; 
  }


/* ......slick slider styling...... */


.slider-container {
    padding: 0;
}

.slider-item {
    /* padding: 0; */
    display: none;
}

.slider-item:first-child {
display: block; 	
}

/* .slider-item:nth-child(odd) {
    border: 2px solid teal;
}
*/

.slick-prev:before {
  content: '←';
}

.slick-next {
  right: 25px;
}

.slick-prev {
  left: 25px;
  z-index:5;
}

.slick-next::before, .slick-prev::before {
    font-family: inherit;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgb(90,90,90);
    /* color: red; */
}

.slick-dots {
     /* bottom: 10px; */
     /* left: 0;  */
     /* This align the dots perfectly to the center, without this the padding on the parent affects the centering of the dots, do not delete */
     width: initial;
     bottom: 25px;
     left: initial;
     right: 25px;
    
}

.slick-dots li,
.slick-dots li button {
     width: 10px;
     margin: 0.5rem;
}

/* .slick-dots li button::before {
     content: "∘";
     font-size: 50px;
     color: white;
}

.slick-dots li.slick-active button::before {
     color: white;
} */

.slick-dots li button::before {
    font-size: 7px;
    color: white;
    content: " ";
    height: 7px;
    width:7px;
    border:3px solid;
    border-radius: 100%;
    opacity: 1;
    }

.slick-dots li.slick-active button::before {
    color: white;
    background-color: white;
    opacity: 1;
    }
    


/*background img for slider styles..... */

.bg-sliderimg{
    /* padding-bottom: 50%; */
    min-height: calc(100vh - 7rem);
    position: relative;
    }
    

.bg-imgslider1 {
    background-color: #fff7f3;
    background-image: url('/images/sarong-melasti-sunset1.jpg');
    background-size: cover;
    background-position: center;
}

.bg-imgslider2 {
    background-color: #fff7f3;
    background-image: url('/images/kimono-karang-back1.jpg');
    background-size: cover;
    background-position: 50% 28%;
}

.bg-imgslider3 {
    background-color: #fff7f3;
    background-image: url('/images/sarong-menjangan-1.jpg');
    background-size: cover;
    background-position: center;
}

/* ...................Product page styling.................. */

.product h2 {
    margin-bottom: 1.3rem;
}

.product h5 {
    font-size: 1.1rem;
    font-weight: 300;
}

.product h4 {
    margin-top: 1.7rem;
}

.product p 

/*....................Dropdown product description accordion...... */

.accordion {
    max-width:50%;
    margin:auto;
    position:relative;
  }

.accordion h4{
    padding: 0.5rem;
    padding-left: 0;
    margin: 0.5rem 0;
    margin-top: 1.5rem;
    display:block;
    color: inherit;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid  rgba(57,82,97,0.8);
  }

.accordion p {
    padding: 0.2rem;
    padding-left: 0;
    margin-bottom: 0.3rem;
  }

  
.accordion p:last-child {
	margin-bottom: 1rem;
}
.accordion h4:last-child {
	margin-bottom: 2rem;
}
  
  /* Icon */
  .accordion h4::after {
    content: "+";
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    display: block;
    width: 1rem;
    height: 1rem;
    line-height: 1;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }

/* ........................card styling........... */

.card h4 {
    margin-top: 0rem;
    margin-bottom: 0.1rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* .......................symbols feature styles................. */

/* NOTE: as the symobls are display inline elements by default, to align them centered => dipslay: block; */
/* we use the fas class instead of i selector as fas class would overwrite the styles from i {} */
.fas, 
.fab {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.8rem;
}

.palmtree-collection {
    min-height: 100%;
    max-width: 80px;
    display: block;
    /* margin: auto; */
    margin-top: -3.5rem;
    margin-left: 4rem; 
    margin-bottom: -2rem; 
}
.palmtree-newsletter {
    min-height: 100%;
    max-width: 100px;
    display: block;
    /* margin: auto; */
    margin-top: -4rem;
    margin-left: 5rem; 
    margin-bottom: -6rem;
}

/* .........................contact form styling................ */

form input, 
form textarea {
  width: 100%;
  display: block;
  margin: 0.3rem 0;
  /*  NOTE: applied 2 values and 0 for left and right so it is all aligned in the left  */
  padding: 0.5rem;
  outline: none;
/* NOTE: by default textarea use default font so need to overwrite with the below, same applies for font size   */
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: #72d4d4;
}


/*.........newsletter section...... */

.newsletter {
    background-color: #fff7f3;
    color: inherit;
    min-height: 30vh;
    align-content: center;
}



/* to fix old-school line space error - form elements are line elements like words so put space in between */
.newsletter form {
    font-size: 0;
}

.newsletter form input {
    width: 40%;
    margin: 0;
    display: inline-block; 
    border: 1px solid rgba(57,82,97,0.5);
    border-right: 0 solid;
    border-radius: 3px 0 0 3px;
}

.newsletter form input:focus {
    border-color: #00afb9;
    /* color: teal; */
    /* how can I change the color of the text when they type */
}

.newsletter button, .newsletter input {
    margin:0;
    margin-top: 0.3rem;
    padding: 0.6rem;
    font-size: 0.9rem;
    font-family: "Lato", sans-serif;
} 

.newsletter form button {
    border-radius: 0 3px 3px 0;
    padding: 0.6rem 0.8rem;

}

.newsletter h4 {
    min-height: 1.3em;
}

/* ............instagram styling........ */

.instahandle{
    margin-top: 1rem;
    display: inline-block;
}  

/* ............BUTTON styles............ */


.shopbutton {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 14px;
    color: inherit;
    padding: 0.5rem;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.underline       { position: relative; }
.underline::after{
    content: ' ';
    position:absolute;
    width:85%;
    border-bottom: 1px solid #395261;
    bottom:3px;
    left: 5%;
    transition:0.3s;
   }

.underline:hover::after {
    transition:0.5s;
    border-bottom: 1px solid #00afb9;
    width:0%;
    left:0;
  }

a:hover.shopbutton{
    color: #00afb9;
    transition: color .2s ease-in-out, opacity .2s ease-in-out;
}


.backbutton {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 14px;
    color: inherit;
    font-style: italic;
}

.shopcollectionbutton,
.sliderbutton {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 14px;
    color: #395261; 
    background-color: white;   
    padding: 0.5rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    border: 1px solid white;
    position: absolute;
    top: 60%;
    left: calc(50% - 5rem);  
}

.addbutton {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 14px;
    color: inherit;    padding: 0.5rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    border: 1px solid #395261;
}

a:hover.sliderbutton, 
a:hover.addbutton,
a:hover.shopcollectionbutton{
    background-color: white;
    color: #00afb9;
    border: 2px solid #00afb9;
    transition: color .2s ease-in-out, opacity .2s ease-in-out;
}

 /* below is to fix position using absolute/relative method */
 .sliderbutton {
    position: absolute;
    top: 60%;
    left: calc(50% - 5rem);
}


form button {
    background-color:#72d4d4;
    /* background-color:#6C7A89; */
    color: white;
    border: none;
    padding: 0.6rem 1.5rem;
    letter-spacing: 0.1rem;
    margin: 1rem 0;
    appearance: none;
    border: 1px solid transparent;
  }
  
  form button:hover{
      background-color: transparent;
      color: #00afb9;
      border: 1px solid #00afb9;
      transition: color .2s ease-in-out, opacity .2s ease-in-out;
  }


/*..........extra info styling...........  */

/* careinstruction */

.careinstruction-banner {
        background-color: #77ACA2;
        background-image: url('https://source.unsplash.com/NbPJ8HM-w8c');
        background-size: cover;
        background-position: top;
        min-height: 80vh;
}

.careinfo {
    background-color: #fff7f3;
}



/* ...............RESPONSIVE UTILITY CLASSES........ */

/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {

  body {
    border: 2px solid green; 
    /* padding: 0.5rem; */
    /* QUESTION: can't see diff with above padding */
    }

  .show-md          { display: block; }
  .hide-md          { display: none;  }

  .md-tall80        {min-height: 80vh;}

  .md-margin-t-2 { margin-top: 2rem; }

  .dropdown-content {padding-top: 8%;}

  .sm-padded-t-2 { padding-top: 2rem; }

  .palmtree-collection {
    min-height: 100%;
    max-width: 60px;
    display: block;
    /* margin: auto; */
    margin-top: -2.5rem;
    margin-left: 2rem; 
    margin-bottom: -4rem;
}

  .palmtree-newsletter {
    min-height: 100%;
    max-width: 80px;
    display: block;
    /* margin: auto; */
    margin-top: -3.5rem;
    margin-left: 3rem; 
    margin-bottom: -6rem;
}

}



/* ------- SM Media Query (48em / 768px) --------------- */ 
/* 
@media (max-width: 990px) {

} */

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

    body {
        border: 2px solid blue; 
        /* padding: 0.5rem; */
    }

    html { font-size: 14px;}
    p, li { font-size: 1.1rem;}

    .show-sm { display: block; }
    .hide-sm { display: none;  }
        
    .sm-text-center { text-align: center; }
    .sm-text-left   { text-align: left; }
    .sm-text-right  { text-align: right; }

    .sm-padded      { padding: 5%; }
    .sm-padded-1    { padding: 1rem; }
    .sm-padded-05   { padding: 0.5rem; }

    .sm-padded-t-0 { padding-top: 0; }
    .sm-padded-b-0 { padding-bottom: 0; }
    .sm-padded-l-0 { padding-left: 0; }
    .sm-padded-r-0 { padding-right: 0; }
    
    .sm-margin-t-0 { margin-top: 0; }
    .sm-margin-b-0 { margin-bottom: 0; }
    .sm-margin-l-0 { margin-left: 0; }
    .sm-margin-r-0 { margin-right: 0; }

    .sm-margin-t-2 { margin-top: 2rem; }

    .logo h2 {font-size: 2rem;}
    header h3 {font-size: 10.5vw;}

    .flex-flip-sm { flex-direction: column-reverse; }

    footer div {
        margin-bottom: 1.6rem;
    }

    .dropdown-content {
        padding-top: 7%;
    }

    .shop-sarongs {
        position:absolute; 
        top: -115px;
    }

    .shop-kimonos {
        position:absolute; 
        top: -115px;
    }

    .product {padding-bottom: 10%;}

    /* .hamburger-button-left {
        padding: 0 0.5rem;
        font-size: 5.3vw;
        left: 1rem;
        top: 1.9rem;
    } */

    .sm-padded-t-2 { padding-top: 2rem; }

    .palmtree-collection {
        min-height: 100%;
        max-width: 60px;
        display: block;
        /* margin: auto; */
        margin-top: -2.5rem;
        margin-left: 2rem; 
        margin-bottom: -4rem;
    }

    .palmtree-newsletter {
        min-height: 100%;
        max-width: 70px;
        display: block;
        /* margin: auto; */
        margin-top: -3rem;
        margin-left: 1.5rem; 
        margin-bottom: -6rem;
    }

}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

    body {
        border: 2px solid lightblue; 
        /* padding: 0.5rem; */
    }

    .show-xs { display: block; }
    .hide-xs { display: none;  }

    header h1 {
        font-size: 1.3rem;
        line-height: 1.1;
        }

    .logoimg  { max-width: 70%; }

    h2        { font-size: 2rem; }   

    footer    { text-align: center; }
    footer p  { text-align: center; }

    .hamburger-button-left {
        padding: 0 0.5rem;
        font-size: 6vw;
        left: 1rem;
        top: 1.2rem;
    }
    .slick-dots li button:before {
        font-size: 3px;
    }

    .shop-sarongs {
        position:absolute; 
        top: -115px;
    }

    .shop-kimonos {
        position:absolute; 
        top: -115px;
    }

    .header-fix { padding-top: 4rem;}

    .sm-padded-t-2 { padding-top: 2rem; }

    .palmtree-collection {
        min-height: 100%;
        max-width: 50px;
        display: block;
        /* margin: auto; */
        margin-top: -2.5rem;
        margin-left: 1.5rem; 
        margin-bottom: -4rem;
    }

    .palmtree-newsletter {
        min-height: 100%;
        max-width: 70px;
        display: block;
        /* margin: auto; */
        margin-top: -3rem;
        margin-left: 1rem; 
        margin-bottom: -6rem;
    }


}

/* ------- XXS Media Query (25em / 400px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent 
NOTE: divide 400 / 16 as 1 em=16px*/ 

@media (max-width: 25em) {

    body {
        border: 2px solid orange; 
        /* padding: 0.5rem; */
    }
    html { font-size: 12px;}

    h1 { font-size: 1.5rem; margin-top: 1rem;}   

    img { max-width: 63%;}

    .logoimg {max-width: 200px;}

    /* QUESTION: Don't understand the below */
    .xxs-stack { 
      flex-basis: 100%; 
      max-width: 50%;
    }

    .hamburger-button-left {
        padding: 0 0.5rem;
        font-size: 6.8vw;
        left: 1rem;
        top: 1.4rem;
    }

    .mobile-minheight {
        min-height: 50vh;
    }

    .shopcollectionbutton, .sliderbutton {
        font-size: 12px;
    }

    .slick-dots li button:before {
        font-size: 4px;
    }

    .slick-dots li button::before {
        height: 5px;
        width: 5px;
        }
    .slick-dots {
        bottom: 15px;
        right: 15px;
        }

    .palmtree-collection {
            min-height: 100%;
            max-width: 30px;
            display: block;
            /* margin: auto; */
            margin-top: -2.5rem;
            margin-left: 1rem; 
            margin-bottom: -4rem;
        }

    .palmtree-newsletter {
            min-height: 100%;
            max-width: 50px;
            display: block;
            /* margin: auto; */
            margin-top: -2rem;
            margin-left: 1rem; 
            margin-bottom: -6rem;
        }

       
    /* .xs-mob-margin {
            padding-top: 5rem;
            padding-bottom: 4rem;
            line-height: 3;
        }  */
    

}

