
/* colors: 
grey: #6C7A89 395261
Navy: #192B37 
turquoise: #00afb9 - 72d4d4 
light peach #fff7f3*/




/* PHOTOS:
A3QXXEfcA1U

*/

/* ........... universal styles default settings........ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ...........temporary styles so can see structural build */

/* *{
    padding: 0.5rem;
    border: 1px solid rgb(222,222,222);
} */
/* 
section {
    border: 1px solid rgb(222,222,222); 
}*/

/* ........... universal styles ........ */

[class*=grid-], [class*=grid_], [class~=grid] {
    margin: 0;
}


html {
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
    border: none;
}

a:hover {
    color: #72d4d4;
}

img {
    max-width: 100%;
}

/* ............................. universal styles and utility class..................... */

/* PADDING ULITLITY CLASSES */

.padded         { padding: 5%;}
.paddedsmall    { padding: 2.2%;}
.paddedlarge    { padding: 10%;}

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-bottom: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-bottom: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-bottom: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-bottom: 0; }

/* MARGIN ULITLITY CLASSES */

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-b-05 { margin-bottom: 0.5rem; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/* MIN HEIGHT ClASSES */

.tall100vh       {min-height: 100vh;}
.tall80vh       {min-height: 80vh;}
.tall70vh       {min-height: 70vh;}
.tall60vh       {min-height: 60vh;}
.tall50vh       {min-height: 50vh;}
.tall40vh       {min-height: 40vh;}

/* BACKGROUND COLOR AND IMAGES CLASSES */

.bg-dark {
    background-color: #192B37;
    color: white;
}

.bg-light {
    background-color: #00afb9;
}
.bg-lightblue {
    background-color:rgb(209, 233, 243);
}

.landscape     { padding-bottom: 66%;  }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }


/* Individual image styles */


.bg-img {
    background-image: url('/assets/the-sleep-co-lamp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 10rem; */
    /* QUESTION: Why this overwrite the tall class when applying the col-middle as per in the video? 
    and why when trying the square option the responsive class does work when bg image applied to parent container, but work only if bg image is separate and inside..... not sure what that means?*/
}


.bg-sarong1 {
    background-image: url('assets/sarong-beach.jpg');
    background-size: cover;
    background-position: center;
}

.bg-img2 {
    background-image: url('/assets/sunset-yoga.jpg');
    background-size: cover;
    background-position: center;
}

.bg-img3 {
    background-image: url('/assets/bali-ricefields.jpg');
    background-size: cover;
    background-position: center;
}

.bg-bannerimg {
    background-image: url('/assets/the-sleep-co-yellow.jpg');
    background-size: cover;
    background-position: 50% 53%;
}

/* ..............instagram gallery style.................. */

.bg-image {
    background-color: rgb(235,235,235);
    background-size: cover;
    background-position: center;
  }
  
  .insta-gallery .bg-image {
    border: 2px solid white;
  }


/* TYPOGRAPHY UTILITY CLASSES */

body {
    border: none;
    font-family: "Lato", sans-serif;
    color: #395261;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 300;
    }

h3 {font-size: 1.6rem;}

h4 {font-size: 1.3rem;}

p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* NOTE: this selection allows to target only last child of a parent container */
p:last-child {
	margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    /* border-bottom: 1px solid; */
}

a:hover{
    color: #00afb9;
}

.text-left      { text-align: left ;}
.text-center    { text-align: center ;}
.text-right     { text-align: right ;}


.featuredcolor-text {color: #00afb9;}
.featureddark-text  {color: #192B37}
.whitecolor-text    {color: white;}

.font-weight-normal {font-weight: normal;}
.font-weight-light  {font-weight: 200;}
.font-weight-xbold  {font-weight: 800;}

.text-small   {font-size: 1.5rem;}
.text-medium  {
               font-size: 2rem;
               line-height: 1.1;
              }
.text-big     {font-size: 4.5rem;}

.caps         { text-transform: uppercase;}

/* Typography more specific elements */

.quote-icon {
    font-size: 6rem;
    display: block; 
    /* note: span are inline elements so better to set it as inline-block for easier alignment */
    color: rgb (120,125,128);
    /* the below is to adjust the alignment */
    line-height: 1;

}
.subtitle {
    font-size: 1.2rem;
    color: rgb (120,125,128);
}



/* ..........................header and footer styles.................. */

header {
    padding: 1.5% 5%;
    padding-top: 0;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

}

/* selecting anything with a class of col indside our header */
header [class*=col] {
    padding: 0;
  }


  .hamburger-button {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5rem;
    font-weight: 200;
    font-size: 9.5vw;
    line-height: 0.7;
    /* margin-top: -0.7rem; */
    position: fixed;
    right: 1rem;
    top: 0.8rem;
    z-index: 2;
    
    
  }
  
  .hamburger-button.active {
    color: #00afb9;
  }
  
  .mobile-menu {
    background-color: #00afb9;
    padding: 2% 5%;
    display: none;
    position: fixed;
    right: 0rem;
    left: 0rem;
    top: 9vw;
    z-index: 2;

  }
  
  .mobile-menu a {
    padding: 5vh 5%;
    text-decoration: none;
    color: inherit;
    display: block;
  }


.logo {
    font-weight: 300;
    letter-spacing: 0.3rem;
    margin-bottom: 1.2rem;
    margin-top: 0.5rem;
    padding-bottom: 0;
    max-width: 300px;
    display: block;
    margin: auto;
}

.logoleft {padding: 1rem 0;}

header nav a {
    text-decoration: none;
    border: none;
    color: inherit;
    display: inline-block;
    padding: 0.5rem;
    margin-bottom:0;
}

header .fas {
    font-size: 1.2rem;
    margin-bottom:0;
}


.cart {
    position: absolute;
    right: 0.5rem;
}


footer {
    background-color: #fff7f3;
}

footer nav a {
    border: none;
    display:block;
    padding: 0.25rem;
    font-size: 0.9rem;
  }

footer h3 {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
  }

footer .fab {
      font-size: 1.1rem;
  }


/*  .......footer social..... */

.inline a {
    display:inline-block;
    padding: 0.5rem;
  }
  

/* ..............hero banner styling.......... */


.hero-banner {
    background-color: #77ACA2;
    background-image: url('https://source.unsplash.com/NbPJ8HM-w8c');
    color: white;
    background-size: cover;
    background-position: top;
    min-height: 90vh;
  }

.fixed {
    background-attachment: fixed;
  }
 
/*.........sarong gallery styling.....  */
/* 
.gallery [class*="col-"] {
    padding: 0.5%;
  }

I copied the above from our image gallery session but did nothing

   */



/* ......slick slider styling...... */


/* ......Slider.... */


.slider-container {
    padding: 5%;

}

.slider-item {
    padding: 0.3rem;
  display: none;
}

.slider-item:first-child {
display: block; 	
}

/* .slider-item:nth-child(odd) {
    border: 2px solid teal;
}
*/
.slick-prev:before {
  content: 'â†';
}

.slick-next {
  right: 25px;
}

.slick-prev {
  left: 25px;
}

.slick-next::before, .slick-prev::before {
    font-family: inherit;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgb(90,90,90);
}

.slick-dots {
     bottom: 10px;
     left: 0; /* This align the dots perfectly to the center, without this the padding on the parent affects the centering of the dots, do not delete */
}

.slick-dots li,
.slick-dots li button {
     width: 10px;
}

.slick-dots li button::before {
     font-size: 12px;
     color: teal;
}

.slick-dots li.slick-active button::before {
     color: teal;
}


/*background img for slider styles..... */
.bg-imgslider1 {
background-image: url('https://source.unsplash.com/NbPJ8HM-w8c');
background-color: lightblue;
background-size: cover;
background-position: center;
min-height: 80vh;
}

.bg-imgslider2 {
background-image: url('https://source.unsplash.com/eXHeq48Z-Q4');
background-color: lightblue;
background-size: cover;
background-position: center;
min-height: 80vh;
}

.bg-imgslider3 {
background-image: url('https://source.unsplash.com/IZ01rjX0XQA');
background-color: lightblue;
background-size: cover;
background-position: center;
min-height: 80vh;
}

.bg-imgslider4 {
background-image: url('https://source.unsplash.com/CTivHyiTbFw');
background-color: lightblue;
background-size: cover;
background-position: center;
min-height: 80vh;
}


.landscape {
padding-bottom: 66%;
}


/* ............button styles............ */


.shopbutton {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: inherit;
    border-bottom: 1px solid #395261;
    padding: 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
}

a:hover.shopbutton{
    color: #00afb9;
    border-bottom: 1px solid #00afb9;
    transition: color .2s ease-in-out, opacity .2s ease-in-out;
}

/* ........................card styling........... */

.card h4 {
    margin-top: 0rem;
    margin-bottom: 0.1rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* .......................symbols feature section styles................. */

/* NOTE: as the symobls are display inline elements by default, to align them centered => dipslay: block; */
/* we use the fas class instead of i selector as fas class would overwrite the styles from i {} */
.fas, 
.fab {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.8rem;
}



/* .........................contact form styling................ */

form input, 
form textarea {
  width: 100%;
  display: block;
  margin: 0.3rem 0;
  /*  NOTE: applied 2 values and 0 for left and right so it is all aligned in the left  */
  padding: 0.5rem;
  /* border: 2px solid rgb(220,220,220); */
  outline: none;
/* NOTE: by default textarea use default font so need to overwrite with the below, same applies for font size   */
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: #72d4d4;
}

/* textarea {
  min-height: 20vh;
  margin-bottom: 0.5rem;
} */

/* NOTE: labels are are inline elements so need to be set as block elements so it can accept the vertical marging and padding  */
/* form label {
  margin-top: 1rem;
  display: block;
  color: #6C7A89;
  font-weight: bold;
} */

form button {
  background-color:#72d4d4;
  /* background-color:#6C7A89; */
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.1em;
  margin: 1rem 0;
  appearance: none;

}


/* ...............RESPONSIVE UTILITY CLASSES........ */

/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {

  body {
    border: 2px solid green; 
    /* padding: 0.5rem; */
    /* QUESTION: can't see diff with above padding */
}

  .show-md { display: block; }
  .hide-md { display: none;  }

  .md-tall80 {min-height: 80vh;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

    body {
        border: 2px solid blue; 
        /* padding: 0.5rem; */
    }

    html { font-size: 14px;}
    p { font-size: 1.1rem;}

    .show-sm { display: block; }
    .hide-sm { display: none;  }
        
    .sm-text-center { text-align: center; }
    .sm-text-left   { text-align: left; }
    .sm-text-right  { text-align: right; }

    .sm-padded      { padding: 5%; }
    .sm-padded-1    { padding: 1rem; }
    .sm-padded-05   { padding: 0.5rem; }

    .sm-padded-t-0 { padding-top: 0; }
    .sm-padded-b-0 { padding-bottom: 0; }
    .sm-padded-l-0 { padding-left: 0; }
    .sm-padded-r-0 { padding-right: 0; }
    
    .sm-margin-t-0 { margin-top: 0; }
    .sm-margin-b-0 { margin-bottom: 0; }
    .sm-margin-l-0 { margin-left: 0; }
    .sm-margin-r-0 { margin-right: 0; }

    .logo h2 {font-size: 2rem;}
    header h3 {font-size: 10.5vw;}

    footer div {
        margin-bottom: 1rem;
    }
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

    body {
        border: 2px solid lightblue; 
        /* padding: 0.5rem; */
    }

    .show-xs { display: block; }
    .hide-xs { display: none;  }

    header h1 {
        font-size: 1.3rem;
        line-height: 1.1;
        }

     h2 {font-size: 2rem;}   

     footer {
        text-align: center;
    }
    footer p {
        text-align: center;
    }

}

/* ------- XXS Media Query (25em / 400px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent 
NOTE: divide 400 / 16 as 1 em=16px*/ 

@media (max-width: 25em) {

    body {
        border: 2px solid orange; 
        /* padding: 0.5rem; */
    }
    html { font-size: 12px;}

    /* QUESTION: Don't understand the below */
    .xxs-stack { 
      flex-basis: 100%; 
      max-width: 50%;
    }
  


}


/* QUESTION: 
1. why cloud icons had to set as block and our quotes as inline-block since there are both inline elements that needed to be aligned?
2. why when applied text-medium to the div of the h3 quote the format would not apply to the quote text?
3. it looks like the space between the input, textarea and button is not even, I tried to inspect but I struggled to interpret what is going on */