
<section class="paddedsmall padded-l-0 padded-r-0 text-center">

    <!-- <h4 class="font-weight-300 text-big californiafont-light margin-b-0">Follow us</h4> -->

    <a class="font-weight-300" href="#"> @gaellegarbani </a>

        <div class="insta-gallery grid-center padded-t-2">

        <a class="col-3_xs-6 fancybox insta-padding" href="/images/bali-ricefields.jpg" data-fancybox="gallery">
            <div class="bg-image square" style="background-image:url('/images/bali-ricefields.jpg')"></div>
        </a>
        
        <a class="col-3_xs-6  fancybox insta-padding" href="/images/sunset-yoga.jpg" data-fancybox="gallery">
            <div class="bg-image square" style="background-image:url('/images/sunset-yoga.jpg')"></div>
        </a>
        
        <a class="col-3_xs-6 fancybox insta-padding" href="/images/sarong-beach.jpg" data-fancybox="gallery">
            <div class="bg-image square" style="background-image:url('/images/sarong-beach.jpg')"></div>
        </a>
        
        <a class="col-3_xs-6 fancybox insta-padding" href="/images/bali-ricefields.jpg" data-fancybox="gallery">
            <div class="bg-image square" style="background-image:url('/images/bali-ricefields.jpg')"></div>
        </a>
        
        <a class="col-3_xs-6  fancybox insta-padding" href="/images/sunset-yoga.jpg" data-fancybox="gallery">
            <div class="bg-image square" style="background-image:url('/images/sunset-yoga.jpg')"></div>
        </a>
        
        <a class="col-3_xs-6 fancybox insta-padding" href="/images/sarong-beach.jpg" data-fancybox="gallery">
            <div class="bg-image square" style="background-image:url('/images/sarong-beach.jpg')"></div>
        </a>
        
        <a class="col-3_xs-6 fancybox insta-padding hide-xs" href="/images/bali-ricefields.jpg" data-fancybox="gallery">
            <div class="bg-image square" style="background-image:url('/images/bali-ricefields.jpg')"></div>
        </a>
        
        <a class="col-3_xs-6 fancybox insta-padding hide-xs" href="/images/sarong-beach.jpg" data-fancybox="gallery">
            <div class="bg-image square" style="background-image:url('/images/sarong-beach.jpg')"></div>
        </a>

        </div>

    <h4 class="font-weight-300 text-big californiafont-light margin-b-0 margin-t-1">Follow us</h4>

</section>