<div class="col-12 padded-05 newsletter text-center">
    <h4 class="font-weight-300 text-big californiafont-light margin-b-0">Join us</h4>
    <p>Join the GG tribe and subscribe to be the first to hear about our new arrivals and latest offers!</p>

    <!--     <form action="https://formspree.io/hello@company.com" method="POST"> -->
    <form>
        <input type="email" name="_replyto" id="_replyto" placeholder="Enter your email address" />
        <button type="submit"> SUBMIT </button>
<!--       <input type="submit" value="Send" class="button"> -->
    </form>
</div>
