<section>
    <div class="slider-container grid">
        <div class="slider-item col-12-middle bannersliderpadding">
          <div class="bg-imgslider1 bg-sliderimg grid-center-middle mobile-minheight"> 
            <a class="sliderbutton" href="/shopsarongs.html#sarongs">Shop Sarongs</a>
          </div>
        </div>
        <div class="slider-item col-12-middle bannersliderpadding">
           <div class="bg-imgslider2 bg-sliderimg grid-center-middle mobile-minheight"> 
             <a class="sliderbutton" href="/shopkimonos.html#kimonos">Shop Kimonos</a>
           </div>
        </div>     
     </div>
    </section>

    