<section>
    <div class="slider-container grid">
        <div class="slider-item col-12-middle bannersliderpadding">
          <div class="bg-imgslider1 bg-sliderimg grid-center-bottom"> 
            <a class="sliderbutton" href="/shop.html#sarongs">Shop</a>
          </div>
        </div>
        <div class="slider-item col-12-middle bannersliderpadding">
           <div class="bg-imgslider2 bg-sliderimg grid-center-middle"> 
             <a class="sliderbutton" href="/shop.html#sarongs">Shop</a>
           </div>
        </div>
        <div class="slider-item col-12-middle bannersliderpadding">
           <div class="bg-imgslider3 bg-sliderimg grid-left-bottom"> 
             <a class="sliderbutton" href="/shop.html#sarongs">Shop</a>
           </div>
        </div>
     </div>
    </section>