<header>
<div class="text-center margin-b-05">
    <a class="logo" href="/index.html">
        <img class="logoimg" src="/LOGO/gg-logo-13.svg">
    </a>
</div>

<div class="text-center hide-xs padded-b-0">
    <nav>
        <a href="/index.html"> Home </a>

        <!-- <a href="/shop.html"> Shop </a> -->
        <!-- dropdown -->
        <div class="dropdown">

            
            <span class="dropdown-title">Shop</span>
            <i class="fas fa-caret-down"></i>
            <!-- <a href="/shop.html"> <i class="fas fa-caret-down"></i></a> -->
         

            <div class="dropdown-content">
                <hr>
                <a href="/shop.html#sarongs"> Sarongs </a>
                <a href="/shop.html#kimonos"> Kimonos </a>
            </div>
        </div>

        <a href="/collection.html"> Collection </a>
        <a href="/about.html"> About </a>
        <a class="cart" href="/about.html"> <i class="fas fa-shopping-bag"></i> </a> 
    </nav>
</div>

<div class="text-right show-xs padded-b-0">
    <nav>
        <a class="cartright" href="/about.html"> <i class="fas fa-shopping-bag"></i> </a> 
    </nav>
</div>
<div>
    <a class="hamburger-button-left show-xs"> &#9776; </a>
    </div>

</header>
<!-- mobile menu -->
<div class="mobile-menu"> 
<nav class="margin-t-2">
    <a href="/index.html"> Home </a>
    <div class="hb-menu-accordion hb-menu-dropdown">
        <span>Shop <i class= "fas fa-caret-down hb-menu"></i></span> 
        <div class="mob-menu-prod-links">
            <a href="/shop.html#sarongs"> Sarongs </a>
            <a href="/shop.html#kimonos"> Kimonos </a>
        </div>
    </div>
    <a href="/collection.html"> Collection </a>
    <a href="/about.html"> About us </a>
</nav> 
</div>  