---
layout: default
slick: true
title: Product - 
---


<!-- .....................HEADER: Logo and nav center option................... -->
     


<!-- .....................PRODUCT section.............. -->

<section class="padded grid padded-b-2 padded-t-prod screen-max-width relative">

  
   <div class="col-5_md-6_sm-12 padded-05 margin-b-2">
      <div class="sticky">
         <div class="slider-for padded-05">
               <div class="slider-item">
               <div class="bg-img0 portrait" style="background-image: url('{{page.product-big1_image}}')"> </div>
               </div>
               <div class="slider-item">
               <div class="bg-img0 portrait" style="background-image: url('{{page.product-big2_image}}')"> </div>
               </div>
               <div class="slider-item">
               <div class="bg-img0 portrait" style="background-image: url('{{page.product-big3_image}}')"> </div>
               </div>
               <div class="slider-item">
               <div class="bg-img0 portrait" style="background-image: url('{{page.product-big4_image}}')"> </div>
               </div>
            </div>
            
            <div class="slider-nav">
               <div class="slider-item padded-05">
                  <div class="bg-img0 portrait" style="background-image: url('{{page.product-thumb1_image}}')"> </div>
               </div>
               <div class="slider-item padded-05">
                  <div class="bg-img0 portrait" style="background-image: url('{{page.product-thumb2_image}}')"> </div>
               </div>
               <div class="slider-item padded-05">
                  <div class="bg-img0 portrait" style="background-image: url('{{page.product-thumb3_image}}')"> </div>
               </div>
               <div class="slider-item padded-05">
                  <div class="bg-img0 portrait" style="background-image: url('{{page.product-thumb4_image}}')"> </div>
               </div>
            </div> 
      </div>
   </div>
    <div class="col-7_md-6_sm-12 padded product">
       
        <h2>{{page.heading}}</h2>
        <h4>{{page.price}}</h4>
        <h5><b>Size: </b> {{page.size}}</h5>
        <h5><b>Color: </b> {{page.color}}</h5>
        <h5><b>Quantitaty: </b></h5>
        <p class="subtle">Limited Stock – Handmade in Small Batches</p>
  
        <p>{{page.main-description-p1}}</p>
        <p>{{page.main-description-p2}}</p>
        
        <h4>Fabric + Print </h4>
        <p>{{page.fabric-description-p1}}</p>
        <p>{{page.fabric-description-p2}}</p>
        <p>{{page.fabric-description-p3}}</p>
        
        <h4>Features </h4>
        <ul>
         <li>{{page.features-description-p1}}</li>
         <li>{{page.features-description-p2}}</li>
         <li>{{page.features-description-p3}}</li>
         <li>{{page.features-description-p4}}</li>
         <li>{{page.features-description-p5}}</li>
         <li>{{page.features-description-p6}}</li>
         {% if page.type == "kimono" %}
         <li>{{page.features-description-p7}}</li>
         <li>{{page.features-description-p8}}</li>
         {% endif %}  
         </ul>

        <div class="accordion margin-b-2">

            <h4>Size & Fit</h4>
            <div>
               {% if page.type == "kimono" %}
               <p>{{page.size-fit-p1}}</p>
               <h5> Kimono Measurements</h5>
               {% endif %}
               <p>{{page.size-fit-p2}}</p>
               <p>{{page.size-fit-p3}}</p>
            </div>
            <h4>Care Instructions</h4>
            <div>
               <p>{{page.care-p1}}</p>
               <p>{{page.care-p2}}</p>
               <p>{{page.care-p3}}</p>
               <p>{{page.care-p4}}</p>
               <p>{{page.care-p5}}</p>
               <p>{{page.care-p6}}</p>
            </div>
            <h4>Shipping</h4>
            <div>
               <p>{{page.shipping-p1}}</p>
               <p>{{page.shipping-p2}}</p>
               <p>{{page.shipping-p3}}</p>
            </div>
        
        </div>
      
        <!-- {%- comment -%} -->
         <!-- <a class="addbutton margin-t-1" href="#">Add to cart</a>
         {% if page.type == "kimono" %}
         <a class="backbutton margin-t-1" href="/shop.html#sarongs">More Kimonos</a>
         {% elsif page.type == "sarong" %}
         <a class="backbutton margin-t-1" href="/shop.html#sarongs">More Sarongs</a>
        {% endif %} -->
        <!-- {%- endcomment -%} -->

        <a class="addbutton2 margin-t-1 margin-b-1" href="#">Add to cart</a>

        <a class="backbutton margin-t-1" href="{{page.shop-product-page}}">More {{page.button-more}}</a>

      
  

    </div>

    <div>
      <span class="palmtree-abs-prod">
        <img class="logoimg" src="/LOGO/coconut_palm_clip_art_hight-right.svg">
     </span>
  </div>

</section>



<!-- ...................newsletter............ -->

{% include newsletter.html %}

<!-- ...................instagram gallery........... -->

<!-- .........................footer.................. -->

<!-- cookie tracking -->
{% include cookie-banner.html %}

<!-- scripts -->