---
layout: default
---


<!-- .....................HEADER: Logo and nav center option................... -->
     


<!-- .....................SARONG section.............. -->

<section class="padded grid-top padded-b-0">

    <div class="col-6_sm-12 padded-05">

        <div class="slider-for padded-05">
            <div class="slider-item">
              <div class="bg-img1 portrait" style="background-image: url('{{page.product_image}}')"> </div>
            </div>
            <div class="slider-item">
              <div class="bg-img2 portrait"> </div>
            </div>
            <div class="slider-item">
              <div class="bg-img3 portrait"> </div>
            </div>
            <div class="slider-item">
              <div class="bg-img4 portrait"> </div>
            </div>
         </div>
         
         <div class="slider-nav">
            <div class="slider-item padded-05">
               <div class="bg-img1 portrait"> </div>
            </div>
            <div class="slider-item padded-05">
               <div class="bg-img2 portrait"> </div>
            </div>
            <div class="slider-item padded-05">
               <div class="bg-img3 portrait"> </div>
            </div>
            <div class="slider-item padded-05">
               <div class="bg-img4 portrait"> </div>
            </div>
         </div>
       
    </div>

    <div class="col-6_sm-12 padded">
        <h2>{{page.heading}}</h2>
        <p>{{page.price}}</p>
        <h5>Size: {{page.size}}</h5>
        <h5>Color: {{page.color}}</h5>
        <h5>Quantitaty</h5>
        <p>{{page.main-description-p1}}</p>
        <p>{{page.main-description-p2}}</p>
        
         <h5> Fabric + Print </h5>
         <p>{{fabric-description-p1}}</p>
         <p>{{fabric-description-p2}}</p>
         <p>{{fabric-description-p3}}</p>
       
        <h5> Features </h5>
         <p>{{page.features-description-p1}}</p>
         <p>{{page.features-description-p2}}</p>
         <p>{{page.features-description-p3}}</p>
         <p>{{page.features-description-p4}}</p>
         <p>{{page.features-description-p5}}</p>
         <!-- <p>{{page.features-description-p6}}</p>
         <p>{{page.features-description-p7}}</p> -->
         <p>{{page.features-description-p8}}</p>
         
        <div class="accordion">

            <h4>Size & Fit +</h4>
            <!-- <p>{{page.size-fit-p1}}</p>
            <p>Kimono Measurements</p> -->
            <p>{{page.size-fit-p2}}</p>
            <p>{{page.size-fit-p3}}</p>

            <h4>Care Instructions +</h4>
            <p>{{page.care-p1}}</p>
            <p>{{page.care-p2}}</p>
            <p>{{page.care-p3}}</p>
            <p>{{page.care-p4}}</p>
            <p>{{page.care-p5}}</p>
            <p>{{page.care-p6}}</p>
           
            <h4>Shipping +</h4>
            <p>{{page.shipping-p1}}</p>
            <p>{{page.shipping-p2}}</p>
            <p>{{page.shipping-p3}}</p>
        
         </div>
      
         
         <a class="addbutton margin-t-1" href="#">Add to cart</a>
        <a class="backbutton margin-t-1" href="/shop.html#sarongs">More sarongs</a>
    </div>

</section>



<!-- ...................instagram gallery........... -->

<!-- .........................footer.................. -->

<!-- scripts -->